.container-myUser{
    box-shadow: 10px 10px 10px 10px lightgrey;
    border-radius: 2rem;
    width:30vw;
    padding: 1rem;
    margin:2rem;
}
.photo{
    width:20vw;
    padding:1rem;
    border-radius:2rem;
}
.info-under-photo{
    padding:1rem;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 0 -1px 0 #000,
    0 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000,
    -1px 0 0 #000;
    color:gold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.anchor{
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 0 -1px 0 #000,
    0 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000,
    -1px 0 0 #000;
    color:gold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.anchor:hover{
    color:white;
}
.title2{
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 0 -1px 0 #000,
      0 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000,
      -1px 0 0 #000;
      color:gold;
      letter-spacing: 2px;
      font-size: 2rem;
  }
  .my-profile-button{
    margin:1rem;
    padding:.8rem 1.5rem;
    border: black solid 1px;
    border-radius: 10px;
  }

  .my-profile-button:hover{
      background-color: gold;
      transform: scale(1.2);
      transition: .5s;
  }